@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';
@import 'styles/mixins/index.scss';

.card {
  background-color: #fff;
  border-radius: $border-radius-medium;
  margin-top: $spacing-px-16;
}

.card__title {
  padding: $grid-padding;
  border-top-left-radius: $border-radius-medium;
  border-top-right-radius: $border-radius-medium;
  background-color: var(--gray100);
}

.card__body {
  @include font-content;
  @include font-size-content;
  line-height: $line-height-24;
  padding: $spacing-px-24 $spacing-px-16 $spacing-px-32 $spacing-px-20;

  li:not(:last-child) {
    margin-bottom: $spacing-px-20;
  }
}

.card__definition {
  display: flex;

  p {
    flex-grow: 1;
    padding-top: $spacing-px-4;
    padding-right: $grid-padding--narrow;
  }
}

.card__action {
  line-height: 0;
}

.card__action__btn {
  @include button--icon;
}
