@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';
@import 'styles/mixins/index.scss';

.card {
  @include margin-t-16;
  @include bg-white;
  @include border-radius-m;
}

.card__title {
  @include grid-padding;
  @include border-radius-top-m;
  background-color: var(--gray100);
}

.card__body {
  @include font-content;
  @include font-size-content;
  @include line-height-24;
  padding: $spacing-px-24 $spacing-px-16 $spacing-px-32 $spacing-px-20;

  li:not(:last-child) {
    @include margin-b-20;
  }
}

.card__definition {
  @include flex-row;

  p {
    @include flex-grow;
    padding-top: $spacing-px-4;
    padding-right: $grid-padding--narrow;
  }
}

.card__action {
  @include line-height-zero;
}

.card__action__btn {
  @include button--icon;
}