@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.variant-picker {
  ul {
    @include flex-row;
    @include flex-wrap;
    gap: $spacing-px-12 $spacing-px-16;
  }

  .variant-picker__variant--selected {
    border: none;
    font-weight: $font-weight-bold;
    color: var(--primary1000);
  }
}

.variant-picker__empty-text {
  @include font-ui;
  @include font-size-ui-sm;
  font-weight: $font-weight-light;
  line-height: $line-height-20;
  color: var(--gray800);
}

.variant-picker__empty-title {
  line-height: $line-height-20;
  @include font-size-ui-sm;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-px-4;
}
