@use 'sass:color';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/';
@import 'styles/mixins/';

.app-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  background-color: var(--gray200);
  background: radial-gradient(140% 95% at 50% 47%, #fff 0%, #e4e8eb 100%);
}

.app-nav__list {
  @include font-size-ui-h2;
  margin-top: $grid-optical-compensation--s;

  text-align: center;
  line-height: $line-height-60;

  button {
    @include button--link;
    @include font-size-ui-h2;
    color: var(--primary1000);
  }
}

.app-nav__close {
  position: absolute;
  left: $spacing-px-6;
  top: $spacing-px-6;

  @include button--icon;

  .icon {
    transform: rotate(45deg);
  }
}
