@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.button {
  box-sizing: border-box;

  // Styles
  &--primary,
  &--secondary,
  &--tertiary,
  &--link,
  &--destructive {
    @include font-ui;
    @include font-weight-bold;
    @include font-size-ui;
    @include line-height-24;
    text-align: center;
    color: var(--primary1000);

    @include bg-white;
    @include border-none;
    @include border-radius-full;
  }
  &--primary {
    color: #fff;
    @include bg-primary;
  }
  &--tertiary {
    @include border;
  }
  &--plain {
    color: var(--gray1000);
    @include font-weight-regular;
    @include bg-none;
    @include border-none;
  }
  &--destructive {
    color: map.get($color-danger, 600);
    @include border--danger;
  }
  &--link,
  &--pseudo {
    @include font-content;
    @include font-size-content;
    @include font-weight-regular;
    @include line-height-20;
    color: var(--gray1000);

    @include bg-none;
    @include border-none;
    @include border-radius-none;
  }

  &--pseudo {
    @include border-pseudo-b;
  }

  // Sizes
  &--s {
    padding: $spacing-px-4 $spacing-px-8;
    @include border-radius-sm;
    @include font-size-ui-ssm;
    @include line-height-14;
    @include font-weight-light;
    @include letter-spacing-05;
  }
  &--sm {
    padding: $spacing-px-12;
  }
  &--m {
    padding: $spacing-px-16 $spacing-px-48;

    &.button--link {
      padding-top: $spacing-px-12;
      padding-bottom: $spacing-px-12;
    }
  }
  &--l {
    padding: $spacing-px-20 $spacing-px-64;
  }
  &--inline {
    // no paddings
    @include padding-none;
  }

  // Widths
  &--fill {
    display: block;
    width: 100%;
  }
  &--hug {
    display: inline-block;
  }

  // States
  &:hover,
  &:active {
    cursor: pointer;
    opacity: 0.9;
  }
}
