@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.button {
  box-sizing: border-box;

  // Styles
  &--primary,
  &--secondary,
  &--tertiary,
  &--link,
  &--pseudo,
  &--destructive {
    @include font-ui;
    font-weight: $font-weight-bold;
    @include font-size-ui;
    line-height: $line-height-24;
    text-align: center;
    color: var(--primary1000);

    background-color: #fff;
    border: none;
    border-radius: px-to-rem(9999px);
  }
  &--primary {
    color: #fff;
    background-color: var(--primary1000);
  }
  &--tertiary {
    border: solid $border-size-1 $border-color;
  }
  &--plain {
    color: var(--gray1000);
    font-weight: $font-weight-regular;
    background-color: transparent;
    border: none;
  }
  &--destructive {
    color: map.get($color-danger, 600);
    border: solid $border-size-1 $border-color--danger;
  }
  &--link,
  &--pseudo {
    @include font-content;
    @include font-size-content;
    font-weight: $font-weight-regular;
    line-height: $line-height-20;
    color: var(--gray1000);
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  &--pseudo {
    border-bottom: 1px dotted $border-color--em;
  }

  // Sizes
  &--s {
    border-radius: $border-radius-small;
    @include font-size-ui-ssm;
    letter-spacing: $letter-spacing-05;
    padding: $spacing-px-4 $spacing-px-8;
    line-height: $line-height-14;
    font-weight: $font-weight-light;
  }
  &--sm {
    padding: $spacing-px-12;
  }
  &--m {
    padding: $spacing-px-16 $spacing-px-48;

    &.button--link {
      padding-top: $spacing-px-12;
      padding-bottom: $spacing-px-12;
    }
  }
  &--l {
    padding: $spacing-px-20 $spacing-px-64;
  }
  &--inline {
    // no paddings
    padding: 0;
  }

  // Widths
  &--fill {
    display: block;
    width: 100%;
  }
  &--hug {
    display: inline-block;
  }

  // States
  &:hover,
  &:active {
    cursor: pointer;
    opacity: 0.9;
  }
}
