@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.week {
  padding: $spacing-px-20 0 $spacing-px-8 0;
}

.week__list {
  @include flex-row;
  @include flex-justify-center;

  padding: $spacing-px-4 0;
}

.week__item {
  padding: 0 $spacing-px-8;
  text-align: center;

  span {
    @include font-ui;
    @include font-size-ui-sm;

    margin-bottom: $spacing-px-4;
    display: block;
    text-transform: uppercase;
    color: var(--gray500);
  }
}
