@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

/* temp styles */
li {
  list-style-type: none;
}

.week {
  padding: 20px 0 7px 0;
}

.week__list {
  display: flex;
  padding: 5px 0;
  justify-content: center;
}

.week__item {
  padding: 0 7px;
  text-align: center;

  span {
    display: block;
    @include margin-b-4;
    
    @include font-ui;
    @include font-size-ui-sm;
    text-transform: uppercase;
    color: map.get($color-gray, 500);
  }
}