@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.form-input {
  display: block;
  width: 100%;

  padding: $spacing-scale-4 $spacing-scale-5;
  box-sizing: border-box;

  @include border;
  border-radius: $border-radius-small;

  font-family: $font-family-content;
  font-weight: $font-weight-regular;
  font-style: normal;
  line-height: $line-height-28;

  color: $gray1000;
  caret-color: $gray1000;
  background-color: $gray100;

  &::placeholder {
    color: $gray500;
  }

  &:focus {
    border-color: $gray500;
    outline: none;
  }

  &--invalid {
    border-color: $red300;
    background-color: $red50;

    color: $red700;
    caret-color: $red700;

    &:focus {
      border-color: $red500;
    }
  }
}