@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.form-group {
  label,
  .form-group__validationText {
    @include font-ui;
    @include font-weight-regular;
    @include line-height-16;
    @include letter-spacing-05;

    text-transform: uppercase;
  }

  label {
    display: inline-block;
    margin-bottom: $spacing-px-8;

    @include font-size-ui-sm;
    color: $gray800;
  }

  .form-group__validationText {
    margin-top: $spacing-px-8;

    @include font-size-ui-ssm;
    color: $gray500;
  }

  .form-input {
    display: block;
    width: 100%;
    padding: $spacing-px-12 $spacing-px-16;
    box-sizing: border-box;
  
    @include font-content;
    @include font-weight-regular;
    @include font-size-content;
    @include line-height-28;
    color: $gray1000;
    caret-color: $gray1000;
    
    @include border;
    @include border-radius-sm;
    background-color: $gray100;
      
    &::placeholder {
      color: $gray500;
    }
  
    &:focus {
      border-color: $gray500;
      outline: none;
    }
  }

  &.form-group--has-label {
    position: relative;
    
    .form-group__validationText {
      position: absolute;
      right: 0;
      top: $spacing-px-2;
      margin-top: 0;
    }
  }

  &.form-group--required {
    label::after {
      position: relative;
      top: -$spacing-px-2;
      margin-left: $spacing-px-2;
  
      color: $red600;
      content: '*';
    }
  }

  &.form-group--invalid {
    .form-group__validationText {
      color: $red500;
    }

    .form-input {
      color: $red700;
      caret-color: $red700;
      
      border-color: $red300;
      background-color: $red50;

      &:focus {
        border-color: $red500;
      }
    }
  }
}