{
  "extends": ["airbnb"],
  "plugins": ["babel"],
  "parserOptions": {
    "ecmaVersion": 12,
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/prop-types": 0,
    "import/no-unresolved": [
      "error",
      {
        "ignore": ["features", "components", "styles"]
      }
      ],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "controlComponents": ["Input", "Textarea"],
      "depth": 3
    }]
  }
}
