@import 'styles/variables.scss';

.pill {
  position: relative;
  display: inline-block;

  font-size: 12px;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    opacity: .2;
    content: '';
  }

  &--noun {
    color: $pill-noun;
    &:after {
      background-color: $pill-noun;
    }
  }
  &--pronoun {
    color: $pill-pronoun;
    &:after {
      background-color: $pill-pronoun;
    }
  }
  &--interjection {
    color: $pill-interjection;
    &:after {
      background-color: $pill-interjection;
    }
  }
  &--preposition {
    color: $pill-preposition;
    &:after {
      background-color: $pill-preposition;
    }
  }
  &--conjunction {
    color: $pill-conjunction;
    &:after {
      background-color: $pill-conjunction;
    }
  }
  &--verb {
    color: $pill-verb;
    &:after {
      background-color: $pill-verb;
    }
  }
  &--adverb {
    color: $pill-adverb;
    &:after {
      background-color: $pill-adverb;
    }
  }
  &--adjective {
    color: $pill-adjective;
    &:after {
      background-color: $pill-adjective;
    }
  }
  &--various {
    color: $pill-various;
    &:after {
      background-color: $pill-various;
    }
  }
}
