@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.button--legend {
  border-radius: $border-radius-small;
  line-height: $line-height-20;

  .button__legend {
    @include font-size-ui-sssm;
    display: block;
    font-weight: $font-weight-light;
    line-height: $line-height-12;
    color: var(--gray500);
  }
}
