@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.button--legend {
  line-height: $line-height-20;
  @include border;
  @include border-radius-sm;

  .button__legend {
    @include font-size-ui-sssm;
    display: block;
    font-weight: $font-weight-light;
    line-height: $line-height-12;
    color: var(--gray500);
  }
}
