@use'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.spinner {
  height: 100%;
  @include flex-column;
  @include flex-align-justify-center;
  @include bg-white;
}

.spinner__spinner {
  @include grid-optical-compensation--s;

  position: relative;
  display: inline-block;
  width: $spacing-px-32;
  height: $spacing-px-32;
  vertical-align: middle;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @include border-radius-full;
    border: $spacing-px-2 solid map.get($color-gray, 200);
    border-right-color: map.get($color-gray, 800);
    animation: spinner 1.1s infinite linear;
    content: '';
  }
}

@keyframes spinner { 100% {transform:rotate(360deg)} }