@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.form-group {
  label {
    display: inline-block;
    margin-bottom: $spacing-px-8;
    
    font-family: $font-family-ui;
    font-weight: $font-weight-regular;
    font-size: $font-size-ui-sm;
    line-height: $line-height-16;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-r;
    color: $gray800;
  }

  .form-group__validationText {
    margin-top: $spacing-px-8;
    font-family: $font-family-ui;
    font-weight: $font-weight-regular;
    font-size: $font-size-ui-ssm;
    line-height: $line-height-16;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-r;
    color: $gray500;
  }

  .form-textarea {
    display: block;
    width: 100%;
    height: $spacing-px-96;
  
    padding: $spacing-px-12 $spacing-px-16;
    box-sizing: border-box;
  
    @include border;
    @include round-sm;
  
    font-family: $font-family-content;
    font-weight: $font-weight-regular;
    font-style: normal;
    line-height: $line-height-28;
  
    color: $gray1000;
    caret-color: $gray1000;
    background-color: $gray100;
    
    resize: none;

    &::placeholder {
      color: $gray500;
    }
  
    &:focus {
      border-color: $gray500;
      outline: none;
    }
  }

  &.form-group--has-label {
    position: relative;
    
    .form-group__validationText {
      position: absolute;
      right: 0;
      top: $spacing-px-2;
      margin-top: 0;
    }
  }

  &.form-group--required {
    label::after {
      margin-left: $spacing-px-2;
      position: relative;
      top: -$spacing-px-2;
  
      color: $red600;
      content: '*';
    }
  }

  &.form-group--invalid {
    .form-group__validationText {
      color: $red500;
    }

    .form-textarea {
      border-color: $red300;
      background-color: $red50;
      color: $red700;
      caret-color: $red700;

      &:focus {
        border-color: $red500;
      }
    }
  }
}