@import 'styles/variables.scss';

.success {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background: var(--gradient-primary);
}

.success__header {
  min-height: 35vh;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4MCIgaGVpZ2h0PSI3MSIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1vcGFjaXR5PSIuMSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMCA1NC44MzdWMjcuODYzbDE4Ljg0NiAxOC4xMzhMNjQuNzgzIDEuMzk0YTQuOTU1IDQuOTU1IDAgMCAxIDYuODkgMGw2Ljg5MSA2LjY5MWMxLjkxNSAxLjg1OSAxLjkxNSA1LjAxOCAwIDYuODc3TDIyLjI5MSA2OS42MDZjLTEuOTE0IDEuODU5LTUuMTY4IDEuODU5LTcuMDgyIDBMMCA1NC44MzdaIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4='),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxODQiIGhlaWdodD0iMTIzIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDkxLjg0NFY1Mi4zOTdsLjk5Mi0uOTY0YzMuOTA2LTMuNzk2IDEwLjE1Ni0zLjc5NiAxNC4wNjMgMGw0NC4xNCA0Mi41MTMgOTMuNzUtOTEuMWMzLjkwNy0zLjc5NSAxMC4xNTctMy43OTUgMTQuMDYzIDBsMTQuMDYyIDEzLjY2NmMzLjkwNyAzLjc5NiAzLjkwNyAxMC4yNDggMCAxNC4wNDRMODUuOTM3IDEyM0gzMi4wNjNMMCA5MS44NDRaIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii4xIi8+PC9zdmc+'),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1OCIgaGVpZ2h0PSI0OCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNTggMHYyMC44NzdsLTI2Ljc1NCAyNS45NWMtMS40ODQgMS40NC00LjAwOCAxLjQ0LTUuNDkyIDBsLTI0LjY0LTIzLjljLTEuNDg1LTEuNDQtMS40ODUtMy44ODggMC01LjMyOGw1LjM0My01LjE4M2EzLjg0NSAzLjg0NSAwIDAgMSA1LjM0NCAwbDE2Ljc3MyAxNi4xMjZMNTggMFoiIGNsaXAtcnVsZT0iZXZlbm9kZCIgb3BhY2l0eT0iLjEiLz48L3N2Zz4='),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MiIgaGVpZ2h0PSIyOCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMzAuMDU0IDI4SDguOTQ2TC43NjIgMjAuMTk1YTIuNDg4IDIuNDg4IDAgMCAxIDAtMy41ODRsMy42NTYtMy40ODdhMi42NjQgMi42NjQgMCAwIDEgMy42NTYgMGwxMS40NzcgMTAuODQ4TDQzLjkyNi43MjdhMi42NjMgMi42NjMgMCAwIDEgMy42NTYgMGwzLjY1NiAzLjQ4N2EyLjQ4OSAyLjQ4OSAwIDAgMSAwIDMuNTg0TDMwLjA1NCAyOFoiIGNsaXAtcnVsZT0iZXZlbm9kZCIgb3BhY2l0eT0iLjEiLz48L3N2Zz4=');
  background-position: top 22.5% left, bottom left, top 6% right,
    bottom right 13.6%;
  background-size: auto;
  background-repeat: no-repeat;
}

.success__body {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  background: var(--gradient-primary--light);
}

.success__body__content {
  flex-grow: 1;
}

.success__body__footer {
  padding: $spacing-px-40 0;
}
