@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.crop-example {
  @include flex-column;
  @include flex-align-bottom--col;
  height: 100vh;
}

.crop-example__content,
.crop-example__footer {
  background-color: #fff;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}

.crop-example__content {
  //padding-top: $spacing-px-40;
  @include flex-column;
  min-height: 50vh;
  text-align: center;
}

.crop-example__sentence {
  @include flex-grow;
  @include flex-row;
  @include flex-wrap;
  @include flex-justify-center;
  @include flex-align-content-center;
  padding: $grid-padding;

  .crop-example__token {
    @include font-size-content-h2;
    line-height: $line-height-32;
    margin: $spacing-px-8;

    &--active {
      @include font-content;
      color: var(--gray500);
      text-decoration: line-through;
    }
  }
}

.crop-example__hint {
  @include font-size-ui-sm;
  line-height: $line-height-16;
  font-weight: $font-weight-light;
  color: var(--gray500);
}

.crop-example__footer {
  padding-top: $spacing-px-32;
  padding-bottom: $spacing-px-24;
}
