@use 'sass:color';
@use 'sass:map';
@import './functions.scss';

// Layout
$grid-size: px-to-rem(8px);
$spacing-px-2: 0.25 * $grid-size;
$spacing-px-4: 0.5 * $grid-size;
$spacing-px-8: 1 * $grid-size;
$spacing-px-12: 1.5 * $grid-size;
$spacing-px-16: 2 * $grid-size;
$spacing-px-20: 2.5 * $grid-size;
$spacing-px-24: 3 * $grid-size;
$spacing-px-32: 4 * $grid-size;
$spacing-px-40: 5 * $grid-size;
$spacing-px-48: 6 * $grid-size;
$spacing-px-64: 8 * $grid-size;
$spacing-px-96: 12 * $grid-size;
$spacing-px-128: 16 * $grid-size;
$spacing-px-192: 24 * $grid-size;
$spacing-px-256: 32 * $grid-size;
$spacing-px-384: 48 * $grid-size;

// TODO: продолжить с миксинами (бордеры например, на фокус у меня нет миксина)

/*
  Colors

  Most of the color palettes are theme specific.
  I store them in sass maps, translate them
  to sets of css custom properties and attach to 
  the '.container' element (see layout.scss).

  Thus, you can see me using custom properties for
  theme-specific colors and sass variables / map.get() 
  expressions for shared colors.

  Naming convention — 
  $color-colorname--theme => $color-gray--study
*/

// Shared colors
$color-gray: (
  100: #F5F8FA,
  200: #E4E9EB,
  300: #CBD5D9,
  400: #9AABB1,
  500: #7B8E94,
  600: #61757C,
  700: #52666D,
  800: #3E5259,
  900: #32454B,
  1000: #1B2529, 
);
$color-primary: (
  1000: #034F69,
);
$color-danger: (
  50: #FFEBEB,
  100: #FFE3E3,
  200: #FFBDBD,
  300: #FF9B9B,
  400: #F86A6A,
  500: #EF4E4E,
  600: #E12D39,
  700: #CF1124,
  800: #AB091E,
  900: #8A041A,
  1000: #610316, 
);
$color-warning: (
  100: #FFFBEA,
  200: #FFF3C4,
  300: #FCE588,
  400: #FADB5F,
  500: #F7C948,
  600: #F0B429,
  700: #DE911D,
  800: #CB6E17,
  900: #B44D12,
  1000: #8D2B0B, 
);
$color-info: (
  100: #E1FCF8,
  200: #C1FEF6,
  300: #92FDF2,
  400: #62F4EB,
  500: #3AE7E1,
  600: #1CD4D4,
  700: #0FB5BA,
  800: #099AA4,
  900: #07818F,
  1000: #05606E, 
);
$color-pill: (
  'noun': #890DBD,
  'pronoun': #B60785,
  'interjection': #B60785,
  'preposition': #019ED0,
  'conjunction': #C80E0E,
  'verb': #0052AF,
  'adverb': #049F96,
  'adjective': #BC4807,
  'various': #B89300
);
$color-gradient: (
  'flame': linear-gradient(175deg, #FF9960 0%, #FF5C00 100%),
);

// 'Study' theme
$color-gray--study: (
  100: color.adjust(map.get($color-gray, 100), $hue: 7),
  200: color.adjust(map.get($color-gray, 200), $hue: 14),
  300: color.adjust(map.get($color-gray, 300), $hue: 14),
  400: color.adjust(map.get($color-gray, 400), $hue: 14),
  500: color.adjust(map.get($color-gray, 500), $hue: 14),
  600: color.adjust(map.get($color-gray, 600), $hue: 14),
  700: color.adjust(map.get($color-gray, 700), $hue: 14),
  800: color.adjust(map.get($color-gray, 800), $hue: 14),
  900: color.adjust(map.get($color-gray, 900), $hue: 14),
  1000: color.adjust(map.get($color-gray, 1000), $hue: 14), 
);
$color-primary--study: (
  1000: #136FD1,
);
$color-gradient--study: (
  'primary': linear-gradient(175deg, #26AAF4 0%, #126FD1 100%),
  'primary--light': linear-gradient(175deg, #FFFFFF 0%, #F7FAFC 100%),
);

// 'Search' theme
$color-gray--search: (
  100: color.adjust(map.get($color-gray, 100), $hue: 80),
  200: color.adjust(map.get($color-gray, 200), $hue: 87),
  300: color.adjust(map.get($color-gray, 300), $hue: 87),
  400: color.adjust(map.get($color-gray, 400), $hue: 87),
  500: color.adjust(map.get($color-gray, 500), $hue: 87),
  600: color.adjust(map.get($color-gray, 600), $hue: 87),
  700: color.adjust(map.get($color-gray, 700), $hue: 87),
  800: color.adjust(map.get($color-gray, 800), $hue: 87),
  900: color.adjust(map.get($color-gray, 900), $hue: 87),
  1000: color.adjust(map.get($color-gray, 1000), $hue: 87), 
);
$color-primary--search: (
  1000: #B21CE8,
);
$color-gradient--search: (
  'primary': linear-gradient(175deg, #DE32ED 0%, #B31CE8 100%),
  'primary--light': linear-gradient(175deg, #FFFFFF 0%, #F9F5FA 100%),
);

// TYPOGRAPHY
//$font-size-base: 1rem;

// UI typescale
$font-size-ui-11: px-to-rem(11px);
$font-size-ui-12: px-to-rem(12px);
$font-size-ui-14: px-to-rem(14px);
$font-size-ui-16: px-to-rem(16px);
$font-size-ui-20: px-to-rem(20px);
$font-size-ui-60: px-to-rem(60px);

// Content typescale
$font-size-content-15: px-to-rem(15px);
$font-size-content-20: px-to-rem(20px);
$font-size-content-24: px-to-rem(24px);
$font-size-content-28: px-to-rem(28px);
$font-size-content-36: px-to-rem(36px);

// Fonts
$font-family-ui: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family-content: 'Merriweather', serif;

// Font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Line-height
$line-height-12: px-to-rem(12px);
$line-height-16: px-to-rem(16px);
$line-height-20: px-to-rem(20px);
$line-height-24: px-to-rem(24px);
$line-height-28: px-to-rem(28px);

// Letter-spacing
$letter-spacing-05: px-to-rem(0.5px);

// BORDERS
// Border-size
$border-size-1: 1px;

// Border-color
$border-color: var(--gray300);
$border-color--danger: map.get($color-danger, 300);

// Border-radius
$border-radius-small: $spacing-px-4;