@use 'sass:color';
@import './functions.scss';

// Layout
$grid-size: px-to-rem(8px);
$spacing-px-2: 0.25 * $grid-size;
$spacing-px-4: 0.5 * $grid-size;
$spacing-px-8: 1 * $grid-size;
$spacing-px-12: 1.5 * $grid-size;
$spacing-px-16: 2 * $grid-size;
$spacing-px-20: 2.5 * $grid-size;
$spacing-px-24: 3 * $grid-size;
$spacing-px-32: 4 * $grid-size;
$spacing-px-40: 5 * $grid-size;
$spacing-px-48: 6 * $grid-size;
$spacing-px-64: 8 * $grid-size;
$spacing-px-96: 12 * $grid-size;

// COLORS
// 'Base' theme
$gray1000: #1B2529; // gra1
$gray900: #32454B; // 2
$gray800: #3E5259; // 3
$gray700: #52666D; // 4
$gray600: #61757C; // 5
$gray500: #7B8E94; // 6
$gray400: #9AABB1; // 7
$gray300: #CBD5D9; // 8
$gray200: #E4E9EB; // 9
$gray100: #F5F8FA; // 10

$red1000: #610316;
$red900: #8A041A;
$red800: #AB091E;
$red700: #CF1124;
$red600: #E12D39;
$red500: #EF4E4E;
$red400: #F86A6A;
$red300: #FF9B9B;
$red200: #FFBDBD;
$red100: #FFE3E3;
$red50: #FFEBEB;

$pill-noun: #890DBD;
$pill-pronoun: #B60785;
$pill-interjection: #378904;
$pill-preposition: #019ED0;
$pill-conjunction: #C80E0E;
$pill-verb: #0052AF;
$pill-adverb: #049F96;
$pill-adjective: #BC4807;
$pill-various: #B89300;

$orange-gradient: linear-gradient(175deg, #FF9960 0%, #FF5C00 100%);


// 'Study' theme
$gray1000--study: color.adjust($gray1000, $hue: 14);
$gray900--study: color.adjust($gray900, $hue: 14);
$gray800--study: color.adjust($gray800, $hue: 14);
$gray700--study: color.adjust($gray700, $hue: 14);
$gray600--study: color.adjust($gray600, $hue: 14);
$gray500--study: color.adjust($gray500, $hue: 14);
$gray400--study: color.adjust($gray400, $hue: 14);
$gray300--study: color.adjust($gray300, $hue: 14);
$gray200--study: color.adjust($gray200, $hue: 14);
$gray100--study: color.adjust($gray100, $hue: 7);
$primary1000--study: #136FD1;
$primary-gradient--study: linear-gradient(175deg, #26AAF4 0%, #126FD1 100%);
$primary-gradient--study--light: linear-gradient(175deg, #FFFFFF 0%, #F7FAFC 100%);

// 'Search' theme
$gray1000--search: color.adjust($gray1000, $hue: 87);
$gray900--search: color.adjust($gray900, $hue: 87);
$gray800--search: color.adjust($gray800, $hue: 87);
$gray700--search: color.adjust($gray700, $hue: 87);
$gray600--search: color.adjust($gray600, $hue: 87);
$gray500--search: color.adjust($gray500, $hue: 87);
$gray400--search: color.adjust($gray400, $hue: 87);
$gray300--search: color.adjust($gray300, $hue: 87);
$gray200--search: color.adjust($gray200, $hue: 87);
$gray100--search: color.adjust($gray100, $hue: 80);
$primary1000--search: #B21CE8;
$primary-gradient--search: linear-gradient(175deg, #DE32ED 0%, #B31CE8 100%);
$primary-gradient--search--light: linear-gradient(175deg, #FFFFFF 0%, #F9F5FA 100%);

// TYPOGRAPHY
//$font-size-base: 1rem;

// UI typescale
$font-size-ui-ssm: px-to-rem(12px);
$font-size-ui-sm: px-to-rem(14px);
$font-size-ui: px-to-rem(16px);
$font-size-ui-h2: px-to-rem(20px);
$font-size-ui-h1: px-to-rem(60px);

// Content typescale
$font-size-content: px-to-rem(15px);
$font-size-content-h4: px-to-rem(20px);
$font-size-content-h3: px-to-rem(24px);
$font-size-content-h2: px-to-rem(28px);
$font-size-content-h1: px-to-rem(36px);

// Fonts
$font-family-ui: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family-content: 'Merriweather', serif;

// Font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Line-height
$line-height-16: px-to-rem(16px);
$line-height-24: px-to-rem(24px);
$line-height-28: px-to-rem(28px);

// Letter-spacing
$letter-spacing-r: px-to-rem(0.5px);

// BORDERS
// Border-size
$border-size-1: 1px;

// Border-color
$border-color: $gray300;
$border-color--danger: $red300;

// Border-radius
$border-radius-small: $spacing-px-4;
$border-radius-full: 50%;