@use 'sass:color';
@import './functions.scss';

// Layout
$grid-size: px-to-rem(8px);
$spacing-scale-1: 0.25 * $grid-size;
$spacing-scale-2: 0.5 * $grid-size;
$spacing-scale-3: 1 * $grid-size;
$spacing-scale-4: 1.5 * $grid-size;
$spacing-scale-5: 2 * $grid-size;
$spacing-scale-6: 2.5 * $grid-size;
$spacing-scale-7: 3 * $grid-size;
$spacing-scale-8: 4 * $grid-size;
$spacing-scale-9: 6 * $grid-size;
$spacing-scale-10: 8 * $grid-size;
$spacing-scale-11: 12 * $grid-size;

// COLORS
// 'Base' theme
$gray1: #1B2529; 
$gray2: #32454B;
$gray3: #3E5259;
$gray4: #52666D;
$gray5: #61757C;
$gray6: #7B8E94;
$gray7: #9AABB1;
$gray8: #CBD5D9;
$gray9: #E4E9EB;
$gray10: #F5F8FA;

$red1: #610316;
$red2: #8A041A;
$red3: #AB091E;
$red4: #CF1124;
$red5: #E12D39;
$red6: #EF4E4E;
$red7: #F86A6A;
$red8: #FF9B9B;
$red9: #FFBDBD;
$red10: #FFE3E3;
$red11: #FFEBEB;

$pill-noun: #890DBD;
$pill-pronoun: #B60785;
$pill-interjection: #378904;
$pill-preposition: #019ED0;
$pill-conjunction: #C80E0E;
$pill-verb: #0052AF;
$pill-adverb: #049F96;
$pill-adjective: #BC4807;
$pill-various: #B89300;

$orange-gradient: linear-gradient(175deg, #FF9960 0%, #FF5C00 100%);


// 'Study' theme
$gray1--study: color.adjust($gray1, $hue: 14);
$gray2--study: color.adjust($gray2, $hue: 14);
$gray3--study: color.adjust($gray3, $hue: 14);
$gray4--study: color.adjust($gray4, $hue: 14);
$gray5--study: color.adjust($gray5, $hue: 14);
$gray6--study: color.adjust($gray6, $hue: 14);
$gray7--study: color.adjust($gray7, $hue: 14);
$gray8--study: color.adjust($gray8, $hue: 14);
$gray9--study: color.adjust($gray9, $hue: 14);
$gray10--study: color.adjust($gray10, $hue: 7);
$primary1--study: #136FD1;
$primary-gradient--study: linear-gradient(175deg, #26AAF4 0%, #126FD1 100%);
$primary-gradient--study--light: linear-gradient(175deg, #FFFFFF 0%, #F7FAFC 100%);

// 'Search' theme
$gray1--search: color.adjust($gray1, $hue: 87);
$gray2--search: color.adjust($gray2, $hue: 87);
$gray3--search: color.adjust($gray3, $hue: 87);
$gray4--search: color.adjust($gray4, $hue: 87);
$gray5--search: color.adjust($gray5, $hue: 87);
$gray6--search: color.adjust($gray6, $hue: 87);
$gray7--search: color.adjust($gray7, $hue: 87);
$gray8--search: color.adjust($gray8, $hue: 87);
$gray9--search: color.adjust($gray9, $hue: 87);
$gray10--search: color.adjust($gray10, $hue: 80);
$primary1--search: #B21CE8;
$primary-gradient--search: linear-gradient(175deg, #DE32ED 0%, #B31CE8 100%);
$primary-gradient--search--light: linear-gradient(175deg, #FFFFFF 0%, #F9F5FA 100%);

// TYPOGRAPHY
$font-size-base: 1rem;

// UI typescale
$font-size-ui-ssm: px-to-rem(12px);
$font-size-ui-sm: px-to-rem(14px);
$font-size-ui: px-to-rem(16px);
$font-size-ui-h2: px-to-rem(20px);
$font-size-ui-h1: px-to-rem(60px);

// Content typescale
$font-size-content: px-to-rem(15px);
$font-size-content-h4: px-to-rem(20px);
$font-size-content-h3: px-to-rem(24px);
$font-size-content-h2: px-to-rem(28px);
$font-size-content-h1: px-to-rem(36px);

// Fonts
$font-family-ui: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family-content: 'Merriweather', serif;

// Font-weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Line-height
$line-height-16: px-to-rem(16px);
$line-height-28: px-to-rem(28px);

// BORDERS
// Border-size
$border-size-1: 1px;

// Border-color
$border-color: $gray8;

// Border-radius
$border-radius-small: $spacing-scale-2;
$border-radius-full: 50%;