@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

/* temporary variables */
$flameTop:#FF9960;
$flameBottom: #FF5C00;

/* temp styles */
li {
  list-style-type: none;
}

.week {
  padding: 20px 0 7px 0;
}

.week__list {
  display: flex;
  padding: 5px 0;
  justify-content: center;
}

.week__item {
  padding: 0 7px;
  text-align: center;

  span {
    display: block;
    @include margin-b-4;
    
    @include font-ui;
    @include font-size-ui-sm;
    text-transform: uppercase;
    color: $gray500;
  }

  svg {
    width: 23px;
  }

  .top-stop {
    stop-color: $gray300;
  }

  .bot-stop {
    stop-color: $gray300;
  }

  &.--active {
    .top-stop {
      stop-color: $flameTop;
    }
  
    .bot-stop {
      stop-color: $flameBottom;
    }
  }
}