@import 'styles/variables.scss';

.progress {
  position: relative;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .4);
}

.progress__bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  transition: width 500ms ease-out;
  background-color: #fff;
}