@import 'styles/variables.scss';

.spinner {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;

  &:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    border: 4px solid $gray500;
    border-right-color: #fff;
    animation: spinner 1.1s infinite linear;
    content: '';
  }
}

@keyframes spinner { 100% {transform:rotate(360deg)} }