@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';
@import 'styles/mixins/index.scss';

.pill {
  @include font-ui;
  @include font-size-ui-ssm;

  position: relative;
  display: inline-block;
  font-weight: $font-weight-bold;
  line-height: $line-height-16;
  text-transform: uppercase;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $spacing-px-2;

    content: '';

    border-radius: px-to-rem(9999px);
    opacity: 0.2;
  }

  &--default {
    font-weight: $font-weight-regular;
    color: var(--gray500);
    &:after {
      background-color: var(--gray500);
    }
  }

  @include pill-variants($color-pill);
}
