@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.pill {
  position: relative;
  display: inline-block;

  @include font-ui;
  @include font-size-ui-ssm;
  @include font-weight-bold;
  @include line-height-16;
  text-transform: uppercase;
  
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $spacing-px-2;
    
    content: '';
    
    @include border-radius-full;
    opacity: .2;
  }

  &--noun {
    color: map.get($color-pill, 'noun');
    &:after {
      background-color: map.get($color-pill, 'noun');
    }
  }
  &--pronoun {
    color: map.get($color-pill, 'pronoun');
    &:after {
      background-color: map.get($color-pill, 'pronoun');
    }
  }
  &--interjection {
    color: map.get($color-pill, 'interjection');
    &:after {
      background-color: map.get($color-pill, 'interjection');
    }
  }
  &--preposition {
    color: map.get($color-pill, 'preposition');
    &:after {
      background-color: map.get($color-pill, 'preposition');
    }
  }
  &--conjunction {
    color: map.get($color-pill, 'conjunction');
    &:after {
      background-color: map.get($color-pill, 'conjunction');
    }
  }
  &--verb {
    color: map.get($color-pill, 'verb');
    &:after {
      background-color: map.get($color-pill, 'verb');
    }
  }
  &--adverb {
    color: map.get($color-pill, 'adverb');
    &:after {
      background-color: map.get($color-pill, 'adverb');
    }
  }
  &--adjective {
    color: map.get($color-pill, 'adjective');
    &:after {
      background-color: map.get($color-pill, 'adjective');
    }
  }
  &--various {
    color: map.get($color-pill, 'various');
    &:after {
      background-color: map.get($color-pill, 'various');
    }
  }
}
