@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.form-group {
  label,
  .form-group__note {
    display: inline-block;
    margin-bottom: $spacing-scale-3;

    font-family: $font-family-ui;
    font-weight: $font-weight-regular;
    line-height: $line-height-16;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-r;
  }

  label {
    font-size: $font-size-ui-sm;
    color: $gray800;
  }

  .form-group__note {
    float: right;
    
    position: relative;
    top: $spacing-scale-1;
    
    font-size: $font-size-ui-ssm;
    color: $gray500;

    &--invalid {
      color: $red500;
    }
  }

  &--required {
    label::after {
      margin-left: $spacing-scale-1;
      position: relative;
      top: -$spacing-scale-1;
      
      color: $red600;
      content: '*';
    }
  }
}