@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';
@import 'styles/mixins/index.scss';

.card-form-section {
  &:not(:last-child) {
    @include border-b;
    margin-bottom: $spacing-px-32;
    padding-bottom: $spacing-px-24;
  }
}

.card-form-section__title {
  @include flex-row;
  margin-bottom: $spacing-px-12;

  h2 {
    @include flex-grow;
    @include font-ui;
    @include font-size-ui-h2;
    padding-top: $spacing-px-4;
    padding-right: $grid-padding--narrow;
    font-weight: $font-weight-thin;
  }
}

.card-form-section__action {
  @include button--icon;
}
