@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.example-picker__example {
  @include flex-row;
  @include border;
  @include border-radius-sm;
  padding: $grid-padding $grid-padding--narrow;
  column-gap: $spacing-px-20;
  background-color: var(--gray100);

  &:not(:last-child) {
    margin-bottom: $spacing-px-8;
  }

  &--selected {
    @include border--primary;
  }
}

.example-picker__text {
  @include flex-grow;
  @include font-content;
  @include font-size-content;
  line-height: $line-height-20;
  font-style: $font-style-cursive;
}

.example-picker__cut-wrapper {
  @include flex-no-grow;
}

.example-picker__cut-button {
  margin-top: -$spacing-px-2;
  margin-bottom: -$spacing-px-2;
}

.example-picker__empty-text {
  @include font-ui;
  @include font-size-ui-sm;
  font-weight: $font-weight-light;
  line-height: $line-height-20;
  color: var(--gray800);
}

.example-picker__empty-title {
  line-height: $line-height-20;
  @include font-size-ui-sm;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-px-4;
}
