@use 'sass:map';
@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';

.warning {
  height: 100%;
  @include flex-column;
  @include bg-white;
  text-align: center;
}

.warning__content {
  @include flex-grow;
  @include flex-row;
  @include flex-align-justify-center;
  
  @include grid-padding--hor;
  @include font-ui;

  h2 {
    @include margin-b-8;
    @include font-size-ui-h2;
    @include font-weight-bold;
    @include line-height-24;
  }

  p {
    @include font-size-ui-sm;
    @include line-height-20;

    white-space: pre-line;
    color: var(--gray800);
  }
}

.warning__content__wrapper {
  @include grid-optical-compensation--reversed;
}

.warning--error .warning__content h2 {
  color: map.get($color-danger, 800);
}

.warning--warning .warning__content h2 {
  color: map.get($color-warning, 800);
}

.warning--info .warning__content h2 {
  color: map.get($color-info, 800);
}

.warning__footer {
  @include flex-no-grow;
  padding: $spacing-px-40 0;
}