@mixin flex-row {
  display: flex;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-grow {
  flex-grow: 1;
}

@mixin flex-no-grow {
  flex-grow: 0;
}

@mixin flex-align-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-align-bottom {
  align-items: flex-end;
}

@mixin flex-align-bottom--col {
  justify-content: flex-end;
}