// Margins
@mixin margin-b-2 {margin-bottom: $spacing-px-2}
@mixin margin-b-4 {margin-bottom: $spacing-px-4}
@mixin margin-b-8 {margin-bottom: $spacing-px-8}
@mixin margin-b-12 {margin-bottom: $spacing-px-12}
@mixin margin-b-16 {margin-bottom: $spacing-px-16}
@mixin margin-b-20 {margin-bottom: $spacing-px-20}
@mixin margin-b-24 {margin-bottom: $spacing-px-24}
@mixin margin-b-32 {margin-bottom: $spacing-px-32}
@mixin margin-b-40 {margin-bottom: $spacing-px-40}
@mixin margin-b-48 {margin-bottom: $spacing-px-48}
@mixin margin-b-64 {margin-bottom: $spacing-px-64}
@mixin margin-b-96 {margin-bottom: $spacing-px-96}

// Grid paddings
@mixin grid-padding {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}
@mixin grid-padding-narrow {
  padding-left: $grid-padding--narrow;
  padding-right: $grid-padding--narrow;
}

// Compensation
@mixin grid-optical-compensation {
  position: relative;
  margin-top: $grid-optical-compensation;
}
@mixin grid-optical-compensation--reversed {
  position: relative;
  margin-bottom: $grid-optical-compensation;
}
@mixin grid-optical-compensation--s {
  position: relative;
  margin-top: $grid-optical-compensation--s;
}