@mixin border {
  border: solid $border-size-1 $border-color;
}

@mixin border--danger {
  border: solid $border-size-1 $border-color--danger;
}

@mixin border-none {
  border: none;
}

@mixin border-radius-full {
  border-radius: px-to-rem(9999px);
}

@mixin border-radius-sm {
  border-radius: $border-radius-small;
}