@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';
@import 'styles/mixins/index.scss';

.form-header {
  @include font-ui;
  @include font-size-ui-sm;
  display: flex;
  align-items: center;
  background-color: var(--primary1000);
  padding: $grid-padding--narrow;
  color: #fff;
  //letter-spacing: $letter-spacing-05;
}

.form-header__btn {
  @include button--icon;

  margin-right: $spacing-px-8;
  margin-left: -$spacing-px-2;
}
