@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';
@import 'styles/mixins/index.scss';

.form-header {
  @include bg-primary;
  @include font-ui;
  @include font-size-ui-sm;
  @include flex-row;
  @include flex-align-center;
  //letter-spacing: $letter-spacing-05;
  padding: $grid-padding--narrow;
  color: #fff;
}

.form-header__btn {
  @include button--icon;

  margin-right: $spacing-px-8;
  margin-left: -$spacing-px-2;
}
