@import 'styles/variables.scss';
@import 'styles/utility-mixins/index.scss';
@import 'styles/mixins/index.scss';

// когда и если экшенов станет больше, то можно будет сделать отдельный контейнер для них
// который будет отпозиционирован вправо и иконки будут добавляться справа-налево
.action-wrapper {
  position: relative;

  .action-wrapper__button {
    position: absolute;
    right: 16px;
    top: 10px;

    @include button--icon;
  }
}