@import 'styles/variables.scss';
@import 'styles/utility-mixins/';

.alert {
  color: #fff;

  .alert-icon {
    margin-bottom: $spacing-px-12;
  }

  h2 {
    @include font-size-ui-h2;
    @include font-weight-bold;

    margin-bottom: $spacing-px-4;
  }

  p {
    @include font-size-ui-sm;
    @include line-height-20;
  }
}
