@mixin button--icon {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin button--link {
  padding: 0;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
